[Desktop Entry]
Icon=/home/User/Plocha/GitUb/icon/icon.ico
Exec=python3 /home/User/Plocha/GitUb/GitUb.py
Terminal=true
Type=Application
Categories=None;
StartupNotify=false
Name[cs]=GitUb

